<header class="header">
  <a href="/" class="logo">
    <div class="header__logo-placeholder"></div>
  </a>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link nav__link--accent">Home</a>
      </li>
      <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
      <li class="nav__item">
        <a href="/product" class="nav__link">Product</a>
      </li>
      <li class="nav__item">
        <a href="/contact" class="nav__link">Contact</a>
      </li>
      <li class="nav__item">
        <a href="/history" class="nav__link">History</a>
      </li>

      <li class="nav__item">
        <a href="/contact" class="nav__link nav__link--button">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
