<section class="contact">
  <div class="contact__wrapper contact__wrapper--left">
    <div class="contact__wrapper-text contact__wrapper-text--blue">
      <p>
        Given the praised reputation and reliable quality within the industry,
        we have also established preliminary business agreements with some
        hospitals, local governments and medical institutions in Guangdong
        Province.
      </p>
    </div>
  </div>

  <div class="contact__wrapper">
    <div class="contact__wrapper-text-right">
      <div class="contact__wrapper-text">
        <p>
          After years of development, Health Pro has reached stable long-term
          cooperation with many hospitals and medical institutions in Hong Kong.
        </p>
      </div>
      <div class="contact__wrapper-text contact__wrapper-text--blue">
        <p>
          We are keenly looking forward to expand our market in Mainland China
          and overseas in the future, as we have strong beliefs in our products.
        </p>
      </div>
    </div>
    <div class="contact__wrapper-contacts">
      <h3>Proudly Made in Hong Kong</h3>
      <p class="contact__text-black">
        Our factory is located in Hong Kong. Equipped with machines and assembly
        line of the best quality on the market to ensure quality control.
      </p>

      <div class="contact__wrapper-contacts-bottom">
        <button>Learn more</button>
        <div class="contact__line"></div>
        <img
          src="assets/images/icons/phone.png"
          alt="phone icon"
          class="contact__contact-us-icon"
        />
        <div>
          <p class="contact__contact-us-text">Contact us</p>
          <a href="tel:+1 123 444 5678" class="contact__contact-us-tel"
            >+1 123 444 5678</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
