<section class="history">
  <div class="history__certifications">
    <p class="history__certification-text">Our Lab Certification</p>
    <div class="history__line"></div>
    <img
      class="history__logo"
      src="assets/images/icons/fda.png"
      alt="fda logo"
    />
    <img
      class="history__logo"
      src="assets/images/icons/nelson.png"
      alt="nelson logo"
    />
    <img
      class="history__logo"
      src="assets/images/icons/cnas.png"
      alt="cnas logo"
    />
  </div>

  <div class="history__product">
    <img
      class="history__product-image"
      src="assets/images/history.png"
      alt="mask image"
    />
    <div class="history__info">
      <h2 class="history__info-title">Reasons To Choose Our Products</h2>
      <p class="history__info-text">
        All products of Health Pro have obtained the certifications issued by
        national specialized agencies and testing laboratories. They have also
        passed the quality inspection of several international famous testing
        institutions. We have absolute confidence that every product of Health
        Pro is a of the top quality.
      </p>
      <div class="history__features">
        <div class="history__feature">
          <img
            class="history__feature-icon"
            src="assets/images/icons/hf-1.png"
            alt="feature icon"
          />
          <div class="history__feature-info">
            <h3 class="history__feature-title">Industry leader</h3>
            <p class="history__feature-text">
              If you have any questions about the equipment, our product
              specialists are here to help, specialists are here.
            </p>
          </div>
        </div>

        <div class="history__feature">
          <img
            class="history__feature-icon"
            src="assets/images/icons/hf-2.png"
            alt="feature icon"
          />
          <div class="history__feature-info">
            <h3 class="history__feature-title">Innovation 3 led development</h3>
            <p class="history__feature-text">
              If you have any questions about the equipment, our product
              specialists are here to help.
            </p>
          </div>
        </div>

        <div class="history__feature">
          <img
            class="history__feature-icon"
            src="assets/images/icons/hf-3.png"
            alt="feature icon"
          />
          <div class="history__feature-info">
            <h3 class="history__feature-title">
              To create a safer tomorrow for all
            </h3>
            <p class="history__feature-text">
              If you have any questions about the equipment, our product
              specialists are here to help.
            </p>
          </div>
        </div>

        <div class="history__feature">
          <img
            class="history__feature-icon"
            src="assets/images/icons/hf-4.png"
            alt="feature icon"
          />
          <div class="history__feature-info">
            <h3 class="history__feature-title">
              To protect and to improve living quality for all
            </h3>
            <p class="history__feature-text">
              If you have any questions about the equipment, our product
              specialists are here to help.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="history__testimonials">
    <div class="history__testimonial">
      <div class="history__testimonial-top">
        <img
          class="history__testimonial-stars"
          src="assets/images/icons/stars.png"
          alt="review stars"
        />
        <img
          class="history__testimonial-logo"
          src="assets/images/icons/facebook.png"
          alt="facebook logo"
        />
      </div>
      <p class="history__testimonial-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut esse minus
        minima saepe, reprehenderit placeat odit cum labore eius vitae! Est hic
        adipisci, ex perferendis sint saepe commodi nobis soluta?
      </p>
      <div class="history__testimonial-bottom">
        <img
          class="history__testimonial-avatar"
          src="assets/images/avatar-1.png"
          alt="avatar of Lora Palmer"
        />
        <div class="history__testimonial-info">
          <p class="history__testimonial-name">Lora Palmer</p>
          <p class="history__testimonial-job">Lawyer</p>
        </div>
      </div>
    </div>

    <div class="history__testimonial">
      <div class="history__testimonial-top">
        <img
          class="history__testimonial-stars"
          src="assets/images/icons/stars.png"
          alt="review stars"
        />
        <img
          class="history__testimonial-logo"
          src="assets/images/icons/facebook.png"
          alt="facebook logo"
        />
      </div>
      <p class="history__testimonial-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut esse minus
        minima saepe, reprehenderit placeat odit cum labore eius vitae! Est hic
        adipisci, ex perferendis sint saepe commodi nobis soluta?
      </p>
      <div class="history__testimonial-bottom">
        <img
          class="history__testimonial-avatar"
          src="assets/images/avatar-2.png"
          alt="avatar of Mike Brownie"
        />
        <div class="history__testimonial-info">
          <p class="history__testimonial-name">Mike Brownie</p>
          <p class="history__testimonial-job">Startup CEO</p>
        </div>
      </div>
    </div>

    <div class="history__testimonial">
      <div class="history__testimonial-top">
        <img
          class="history__testimonial-stars"
          src="assets/images/icons/stars.png"
          alt="review stars"
        />
        <img
          class="history__testimonial-logo"
          src="assets/images/icons/facebook.png"
          alt="facebook logo"
        />
      </div>
      <p class="history__testimonial-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut esse minus
        minima saepe, reprehenderit placeat odit cum labore eius vitae! Est hic
        adipisci, ex perferendis sint saepe commodi nobis soluta?
      </p>
      <div class="history__testimonial-bottom">
        <img
          class="history__testimonial-avatar"
          src="assets/images/avatar-3.png"
          alt="avatar of Lena Chan"
        />
        <div class="history__testimonial-info">
          <p class="history__testimonial-name">Lena Chan</p>
          <p class="history__testimonial-job">Event Manager</p>
        </div>
      </div>
    </div>
  </div>

  <div class="history__call-to-action">
    <h2 class="history__call-to-action-title">Get One Step Ahead Of Disease</h2>
    <p class="history__call-to-action-text">
      Imperdiet aliquet est vel nulla turpis eu consequat ullamcorper a egestas
      suspendisse faucibus eu velit, phasellus pulvinar lorem et libero et
      tortor, sapien nulla.
    </p>
    <button class="history__call-to-action-button">Shop now</button>
  </div>
</section>
