<section class="home">
  <div class="home__wrapper-top">
    <div class="home__wrapper-info">
      <p class="home__text home__text--accent">3M N95 masks</p>
      <h1 class="home__title">Protective Face Masks</h1>
      <p class="home__text">
        We offer the fast delivery wholesale selection of N95 masks and surgical
        masks, featuring FDA-approved quality and 2 – 5 days delivery, our
        wholesale face masks are ideal for influenza or novel coronavirus
        prevention.
      </p>
      <div class="home__wrapper-buttons">
        <button class="home__button">Shop now</button>
        <button class="home__button">Learn more</button>
      </div>
    </div>

    <img
      src="assets/images/home.jpg"
      alt="woman in protective mask"
      class="home__image"
    />
  </div>

  <div class="home__wrapper-bottom">
    <div class="home__wrapper-content-bottom">
      <img class="home__icon" src="assets/images/icons/shipping.svg" alt="shipping icon" />
      <div class="home__wrapper-content-text">
        <h3>Full-Service Shipping</h3>
        <p>
          From picking to custom-crating to domestic and international shipping,
          we handle it all for you.
        </p>
      </div>
    </div>

    <div class="home__wrapper-content-bottom">
      <img class="home__icon" src="assets/images/icons/inspection.svg" alt="inspection icon" />
      <div class="home__wrapper-content-text">
        <h3>Multi-Point Inspection</h3>
        <p>
          To ensure quality, our team of HTM professionals fully assess and
          evaluate all equipment.
        </p>
      </div>
    </div>

    <div class="home__wrapper-content-bottom">
      <img class="home__icon" src="assets/images/icons/support.svg" alt="support icon" />
      <div class="home__wrapper-content-text">
        <h3>Professional Product Support</h3>
        <p>
          If you have any questions about the equipment, our product specialists
          are here to help.
        </p>
      </div>
    </div>

    <div class="home__wrapper-content-bottom">
      <img class="home__icon" src="assets/images/icons/payment.svg" alt="payment icon" />
      <div class="home__wrapper-content-text">
        <h3>Secure and Easy Payment Methods</h3>
        <p>
          Pay your way, whether by credit card, PayPal or the redemption of
          earned credits.
        </p>
      </div>
    </div>
  </div>
</section>
